In [1]:
#Question 1

In [114]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time

In [115]:
driver=webdriver.Chrome("Desktop/chromedriver.exe")

In [116]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/")

In [117]:
search_List_of_most_viewed_YouTube_videos=driver.find_element_by_xpath("/html/body/div[5]/div[1]/div[2]/div/form/div/input[1]")
search_List_of_most_viewed_YouTube_videos.send_keys("List_of_most_viewed_YouTube_videos")

In [118]:
search_btn=driver.find_element_by_xpath("/html/body/div[5]/div[1]/div[2]/div/form/div/input[3]")
search_btn.click()

In [119]:
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]

In [120]:
Title_tag=driver.find_elements_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[3]/tbody/tr/td[1]")
for i in Title_tag:
    Rank.append(i.text)
Rank[0:5]

['1.', '2.', '3.', '4.', '5.']

In [128]:
Title_tag=driver.find_elements_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[3]/tbody/tr/td[2]/a")
for i in Title_tag:
    Name.append(i.text)
Name[0:5]

['Baby Shark Dance',
 'Despacito',
 'Shape of You',
 'See You Again',
 'Johny Johny Yes Papa']

In [122]:
Title_tag=driver.find_elements_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[6]/tbody/tr/td[2]/a")
for i in Title_tag:
    Artist.append(i.text)
Artist[0:5]

['Pinkfong', 'Luis Fonsi', 'Wiz Khalifa', 'Psy', 'Justin Bieber']

In [123]:
Title_tag=driver.find_elements_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[6]/tbody/tr/td[4]")
for i in Title_tag:
    Upload_date.append(i.text)
Upload_date[0:5]

['June 17, 2016',
 'January 12, 2017',
 'April 6, 2015',
 'July 15, 2012',
 'February 19, 2010']

In [124]:
Title_tag=driver.find_elements_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[6]/tbody/tr/td[3]")
for i in Title_tag:
    Views.append(i.text)
Views[0:5]

['7,037,500,000',
 '2,993,700,000',
 '2,894,000,000',
 '803,700,000',
 '245,400,000']

In [131]:
import pandas as pd
videos=pd.DataFrame()
videos['Rank']=Rank[0:5]
videos['Name']=Name[0:5]
videos['Artist']=Artist[0:5]
videos['Upload_date']=Upload_date[0:5]
videos['Views']=Views[0:5]

In [132]:
videos

  Rank                  Name         Artist        Upload_date          Views
0   1.      Baby Shark Dance       Pinkfong      June 17, 2016  7,037,500,000
1   2.             Despacito     Luis Fonsi   January 12, 2017  2,993,700,000
2   3.          Shape of You    Wiz Khalifa      April 6, 2015  2,894,000,000
3   4.         See You Again            Psy      July 15, 2012    803,700,000
4   5.  Johny Johny Yes Papa  Justin Bieber  February 19, 2010    245,400,000

In [ ]:
#Question 2

In [21]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time

In [22]:
driver=webdriver.Chrome("Desktop/chromedriver.exe")

In [23]:
driver.get("https://www.bcci.tv/")

In [24]:
search_btn=driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]")
search_btn.click()

In [25]:
search_btn3=driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a")
search_btn3.click()

In [26]:
Match_title=[]
Series=[]
Place=[]
Date=[]
Month=[]
Time=[]

In [27]:
Title_tag=driver.find_elements_by_xpath("/html/body/div[4]/div/div/div[2]/section/div/div/a/div[2]/div[1]/span[1]")
for i in Title_tag:
    Match_title.append(i.text)
Match_title[0:5]

['TEST', 'T20I', 'T20I', 'T20I', 'T20I']

In [28]:
Title_tag=driver.find_elements_by_xpath("/html/body/div[4]/div/div/div[2]/section/div/div/a/div[2]/div[2]/p/strong")
for i in Title_tag:
    Series.append(i.text)
Series[0:5]

['4th Test', '1st T20I', '2nd T20I', '3rd T20I', '4th T20I']

In [29]:
Title_tag=driver.find_elements_by_xpath("/html/body/div[4]/div/div/div[2]/section/div/div/a/div[2]/div[2]/p/span")
for i in Title_tag:
    Place.append(i.text)
Place[0:5]

['Narendra Modi Stadium, Ahmedabad',
 'Narendra Modi Stadium, Ahmedabad',
 'Narendra Modi Stadium, Ahmedabad',
 'Narendra Modi Stadium, Ahmedabad',
 'Narendra Modi Stadium, Ahmedabad']

In [30]:
Title_tag=driver.find_elements_by_xpath("/html/body/div[4]/div/div/div[2]/section/div/div/a/div[1]/div/span")
for i in Title_tag:
    Date.append(i.text)
Date[0:5]

['04', '12', '14', '16', '18']

In [31]:
Title_tag=driver.find_elements_by_xpath("/html/body/div[4]/div/div/div[2]/section/div/div/a/div[1]/div/div/span[1]")
for i in Title_tag:
    Month.append(i.text)
Month[0:5]

['MARCH', 'MARCH', 'MARCH', 'MARCH', 'MARCH']

In [32]:
Title_tag=driver.find_elements_by_xpath("/html/body/div[4]/div/div/div[2]/section/div/div/a/div[1]/div/div/span[2]")
for i in Title_tag:
    Time.append(i.text)
Time[0:5]

['09:30 IST', '19:00 IST', '19:00 IST', '19:00 IST', '19:00 IST']

In [33]:
import pandas as pd
Match=pd.DataFrame()
Match['Match_title']=Match_title[0:5]
Match['Series']=Series[0:5]
Match['Place']=Place[0:5]
Match['Date']=Date[0:5]
Match['Month']=Month[0:5]
Match['Time']=Time[0:5]

In [34]:
Match

,Match_title,Series,Place,Date,Month,Time
0,TEST,4th Test,"Narendra Modi Stadium, Ahmedabad",04,MARCH,09:30 IST
1,T20I,1st T20I,"Narendra Modi Stadium, Ahmedabad",12,MARCH,19:00 IST
2,T20I,2nd T20I,"Narendra Modi Stadium, Ahmedabad",14,MARCH,19:00 IST
3,T20I,3rd T20I,"Narendra Modi Stadium, Ahmedabad",16,MARCH,19:00 IST
4,T20I,4th T20I,"Narendra Modi Stadium, Ahmedabad",18,MARCH,19:00 IST

In [16]:
#Question 3

In [41]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time

In [42]:
driver=webdriver.Chrome("Desktop/chromedriver.exe")

In [43]:
driver.get("https://www.guru99.com/")

In [44]:
search_selenium_exception=driver.find_element_by_xpath("//*[@id='gsc-i-id2']")
search_selenium_exception.send_keys("selenium exception handling")

In [45]:
search_btn=driver.find_element_by_xpath("//*[@id='___gcse_1']/div/div/form/table/tbody/tr/td[2]/button")
search_btn.click()

In [46]:
search_btn=driver.find_element_by_xpath("//*[@id='___gcse_1']/div/div/div[1]/div[6]/div[2]/div/div/div[1]/div[1]/div[1]/div[1]/div/a/b")
search_btn.click()

In [51]:
url="https://www.guru99.com/exception-handling-selenium.html"

In [52]:
driver.get(url)

In [53]:
Name=[]
Description=[]

In [55]:
Title_tag=driver.find_elements_by_xpath("//*[@id='g-mainbar']/div[1]/div/div/div/div/div/div[2]/table/tbody/tr/td[1]")
for i in Title_tag:
    Name.append(i.text)
Name[0:5]

['ElementNotVisibleException',
 'Exception name',
 'ElementNotVisibleException',
 'ElementNotSelectableException',
 'NoSuchElementException']

In [56]:
Title_tag=driver.find_elements_by_xpath("//*[@id='g-mainbar']/div[1]/div/div/div/div/div/div[2]/table/tbody/tr/td[2]")
for i in Title_tag:
    Description.append(i.text)
Description[0:5]

['Description',
 'This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 'This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 'This Exception occurs if an element could not be found.',
 'This Exception occurs if the frame target to be switched to does not exist.']

In [57]:
import pandas as pd
selenium=pd.DataFrame()
selenium['Name']=Name[0:40]
selenium['Description']=Description[0:40]

In [58]:
selenium

,Name,Description
0,ElementNotVisibleException,Description
1,Exception name,This type of Selenium exception occurs when an...
2,ElementNotVisibleException,This Selenium exception occurs when an element...
3,ElementNotSelectableException,This Exception occurs if an element could not ...
4,NoSuchElementException,This Exception occurs if the frame target to b...
5,NoSuchFrameException,This Exception occurs when you switch to no pr...
6,NoAlertPresentException,This Exception occurs if the window target to ...
7,NoSuchWindowException,This Selenium exception occurs happens when th...
8,StaleElementReferenceException,The WebDriver is acting after you quit the bro...
9,SessionNotFoundException,Thrown when there is not enough time for a com...
10,TimeoutException,This Exception takes place when the WebDriver ...
11,WebDriverException,This type of Exception takes place when there ...
12,ConnectionClosedException,The command may not be completed as the elemen...
13,ElementClickInterceptedException,This Selenium exception is thrown when any ele...
14,ElementNotInteractableException,This happens while interacting with the Firefo...
15,ErrorInResponseException,Exception is used as a placeholder in case if ...
16,ErrorHandler.UnknownServerException,This expectation will occur when IME engine ac...
17,ImeActivationFailedException,It takes place when IME support is unavailable.
18,ImeNotAvailableException,Navigation made the user agent to hit a certif...
19,InsecureCertificateException,It occurs when an argument does not belong to ...
20,InvalidArgumentException,This happens when you try to add a cookie unde...
21,InvalidCookieDomainException,This type of Exception matches an interacting ...
22,InvalidCoordinatesException,It occurs when command can't be finished when ...
23,InvalidElementStateExceptio,This Exception took place when the given sessi...
24,InvalidSessionIdException,This occurs when the frame or window target to...
25,InvalidSwitchToTargetException,This issue occurs while executing JavaScript g...
26,JavascriptException,It occurs when you afford to get the session w...
27,JsonException,This kind of Exception occurs when the attribu...
28,NoSuchAttributeException,It takes place if the target provided to the A...
29,MoveTargetOutOfBoundsException,ContextAware does mobile device testing.
30,NoSuchContextException,This Exception occurs when no cookie matching ...
31,NoSuchCookieException,This Exception is a subclass of WebDriverExcep...
32,NotFoundException,This Selenium exception is thrown when the ser...
33,RemoteDriverServerException,It is not possible to capture a screen.
34,ScreenshotException,It happens when a new session could not be suc...
35,SessionNotCreatedException,This occurs if a driver is unable to set a coo...
36,UnableToSetCookieException,Happens if a support class did not get a web e...
37,UnexpectedTagNameException,This expectation occurs when there is an alert...
38,UnhandledAlertException,It occurs when there is the appearance of an u...
39,UnexpectedAlertPresentException,This Exception happens when the requested comm...

In [ ]:
#Question 4

In [122]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time

In [123]:
driver=webdriver.Chrome("Desktop/chromedriver.exe")

In [124]:
driver.get("http://statisticstimes.com/")

In [125]:
search_btn=driver.find_element_by_xpath("//*[@id='top']/div[2]/div[2]/button")
search_btn.click()

In [126]:
search_India=driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
search_India.click()

In [127]:
search_btn1=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
search_btn1.click()

In [130]:
Rank=[]
State=[]
GSDP_19_20=[]
GSDP_18_19=[]
Share_2019=[]
GDP_billion=[]

In [131]:
Title_tag=driver.find_elements_by_xpath("/html/body/div[2]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[1]")
for i in Title_tag:
    Rank.append(i.text)
Rank[0:9]

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [132]:
Title_tag=driver.find_elements_by_xpath("/html/body/div[2]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[2]")
for i in Title_tag:
    State.append(i.text)
State[0:9]

['Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Gujarat',
 'Karnataka',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana']

In [133]:
Title_tag=driver.find_elements_by_xpath("/html/body/div[2]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[3]")
for i in Title_tag:
    GSDP_19_20.append(i.text)
GSDP_19_20[0:9]

['-',
 '1,845,853',
 '1,687,818',
 '-',
 '1,631,977',
 '1,253,832',
 '1,020,989',
 '972,782',
 '969,604']

In [134]:
Title_tag=driver.find_elements_by_xpath("/html/body/div[2]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[4]")
for i in Title_tag:
    GSDP_18_19.append(i.text)
GSDP_18_19[0:9]

['2,632,792',
 '1,630,208',
 '1,584,764',
 '1,502,899',
 '1,493,127',
 '1,089,898',
 '942,586',
 '862,957',
 '861,031']

In [135]:
Title_tag=driver.find_elements_by_xpath("/html/body/div[2]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[5]")
for i in Title_tag:
    Share_2019.append(i.text)
Share_2019[0:9]

['13.88%',
 '8.59%',
 '8.35%',
 '7.92%',
 '7.87%',
 '5.75%',
 '4.97%',
 '4.55%',
 '4.54%']

In [136]:
Title_tag=driver.find_elements_by_xpath("/html/body/div[2]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[6]")
for i in Title_tag:
    GDP_billion.append(i.text)
GDP_billion[0:9]

['398.145',
 '246.529',
 '239.656',
 '227.276',
 '225.798',
 '164.820',
 '142.543',
 '130.501',
 '130.210']

In [137]:
import pandas as pd
statisticstime=pd.DataFrame()
statisticstime['Rank']=Rank[0:9]
statisticstime['State']=State[0:9]
statisticstime['GSDP_19_20']=GSDP_19_20[0:9]
statisticstime['GSDP_18_19']=GSDP_18_19[0:9]
statisticstime['Share_2019']=Share_2019[0:9]
statisticstime['GDP_billion']=GDP_billion[0:9]

In [138]:
statisticstime

  Rank           State GSDP_19_20 GSDP_18_19 Share_2019 GDP_billion
0    1     Maharashtra          -  2,632,792     13.88%     398.145
1    2      Tamil Nadu  1,845,853  1,630,208      8.59%     246.529
2    3   Uttar Pradesh  1,687,818  1,584,764      8.35%     239.656
3    4         Gujarat          -  1,502,899      7.92%     227.276
4    5       Karnataka  1,631,977  1,493,127      7.87%     225.798
5    6     West Bengal  1,253,832  1,089,898      5.75%     164.820
6    7       Rajasthan  1,020,989    942,586      4.97%     142.543
7    8  Andhra Pradesh    972,782    862,957      4.55%     130.501
8    9       Telangana    969,604    861,031      4.54%     130.210

In [27]:
#Question 5

In [105]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time

In [106]:
driver=webdriver.Chrome("Desktop/chromedriver.exe")

In [107]:
driver.get("https://github.com/")

In [108]:
search_btn=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary")
search_btn.click()

In [109]:
search_btn=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a")
search_btn.click()

In [110]:
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]

In [111]:
Title_tag=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article/h1/a")
for i in Title_tag:
        Repository_title.append(i.text)
Repository_title[0:5]

['gskinnerTeam / flutter-folio',
 'flutter / flutter',
 'google / googletest',
 'muguruzawang / jd_maotai_seckill',
 'dolthub / dolt']

In [112]:
Title_tag=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article/p")
for i in Title_tag:
    Repository_description.append(i.text)
Repository_description[0:5]

['A platform adaptive Flutter app for desktop, mobile and web.',
 'Flutter makes it easy and fast to build beautiful apps for mobile and beyond.',
 'Googletest - Google Testing and Mocking Framework',
 '优化版本的京东茅台抢购神器',
 "Dolt – It's Git for Data"]

In [113]:
Title_tag=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article/div[2]/a[2]")
for i in Title_tag:
    Contributors_count.append(i.text)
Contributors_count[0:5]

['175', '16,385', '7,269', '4,286', '89']

In [114]:
Title_tag=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article/div[2]/span[1]/span[2]")
for i in Title_tag:
    Language_used.append(i.text)
Language_used[0:5]

['Dart', 'Dart', 'C++', 'Python', 'Go']

In [115]:
import pandas as pd
trending=pd.DataFrame()
trending['Repository_title']=Repository_title[0:5]
trending['Repository_description']=Repository_description[0:5]
trending['Contributors_count']=Contributors_count[0:5]
trending['Language_used']=Language_used[0:5]

In [116]:
trending

,Repository_title,Repository_description,Contributors_count,Language_used
0,gskinnerTeam / flutter-folio,"A platform adaptive Flutter app for desktop, m...",175,Dart
1,flutter / flutter,Flutter makes it easy and fast to build beauti...,"16,385",Dart
2,google / googletest,Googletest - Google Testing and Mocking Framework,"7,269",C++
3,muguruzawang / jd_maotai_seckill,优化版本的京东茅台抢购神器,"4,286",Python
4,dolthub / dolt,Dolt – It's Git for Data,89,Go

In [148]:
#Question 6

In [61]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time

In [62]:
driver=webdriver.Chrome("Desktop/chromedriver.exe")

In [63]:
driver.get("https://www.billboard.com/")

In [65]:
search_btn=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/ul/li[1]/a")
search_btn.click()

In [66]:
search_btn=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/ul/li[1]/span/span/span/span[1]/ul/li[1]/a")
search_btn.click()

In [67]:
Song_name=[]
Artist_name=[]
Last_wee_rank=[]
Peak_rank=[]
Weeks_on_board=[]

In [74]:
Title_tag=driver.find_elements_by_xpath("/html/body/main/div/div/div[7]/div/ol/li/button/span[2]/span[1]")
for i in Title_tag:
    Song_name.append(i.text)
Song_name[0:99]

['Drivers License',
 'Up',
 'Go Crazy',
 '34+35',
 'Blinding Lights',
 'Save Your Tears',
 'Mood',
 'Calling My Phone',
 'Positions',
 'Levitating',
 'What You Know Bout Love',
 'Therefore I Am',
 'Back In Blood',
 'Whoopty',
 'For The Night',
 'Dakiti',
 'Good Days',
 'I Hope',
 "You're Mines Still",
 'Better Together',
 'You Broke Me First.',
 'Streets',
 'On Me',
 "My Ex's Best Friend",
 'Good Time',
 'Throat Baby (Go Baby)',
 'Holy',
 'Best Friend',
 'Willow',
 'Lonely',
 'Bang!',
 'No More Parties',
 'Anyone',
 'Lemonade',
 'Just The Way',
 'Put Your Records On',
 'Down To One',
 'Without You',
 'Laugh Now Cry Later',
 'Starting Over',
 'Body',
 'Cry Baby',
 'Time Today',
 "What's Your Country Song",
 'Damage',
 'Beers And Sunshine',
 'Beat Box',
 'The Good Ones',
 "We're Good",
 'Dynamite',
 'Buss It',
 'Wasted On You',
 'Clouds',
 'Telepatia',
 'Monsters',
 'Goosebumps',
 'Golden',
 'La Noche de Anoche',
 'My Head And My Heart',
 'Long Live',
 'Test Drive',
 'Astronaut In The Ocean',
 'Heartbreak Anniversary',
 'Sand In My Boots',
 'Heat Waves',
 'Lady',
 'Hit Bout It',
 'Forever After All',
 'Hole In The Bottle',
 'Tyler Herro',
 'Girl Like Me',
 'Finesse Out The Gang Way',
 'Hell Of A View',
 'Lifestyle',
 "Momma's House",
 'Masterpiece',
 'Somebody Like That',
 'Opp Stoppa',
 'Neighbors',
 "Somebody's Problem",
 'You Got It',
 'Bandido',
 'Moonwalking In Calabasas',
 'Drankin N Smokin',
 'One Too Many',
 "Still Trappin'",
 'Quicksand',
 'Chicken Tendies',
 'Pick Up Your Feelings',
 'ZaZa',
 'Almost Maybes',
 'Made For You',
 'Glad You Exist',
 'Afterglow',
 'Cover Me Up',
 'The Business',
 'Hello',
 'Monster',
 'Track Star']

In [75]:
Title_tag=driver.find_elements_by_xpath("/html/body/main/div/div/div[7]/div/ol/li/button/span[2]/span[2]")
for i in Title_tag:
    Artist_name.append(i.text)
Artist_name[0:99]

['Olivia Rodrigo',
 'Cardi B',
 'Chris Brown & Young Thug',
 'Ariana Grande',
 'The Weeknd',
 'The Weeknd',
 '24kGoldn Featuring iann dior',
 'Lil Tjay Featuring 6LACK',
 'Ariana Grande',
 'Dua Lipa Featuring DaBaby',
 'Pop Smoke',
 'Billie Eilish',
 'Pooh Shiesty Featuring Lil Durk',
 'CJ',
 'Pop Smoke Featuring Lil Baby & DaBaby',
 'Bad Bunny & Jhay Cortez',
 'SZA',
 'Gabby Barrett Featuring Charlie Puth',
 'Yung Bleu Featuring Drake',
 'Luke Combs',
 'Tate McRae',
 'Doja Cat',
 'Lil Baby',
 'Machine Gun Kelly X blackbear',
 'Niko Moon',
 'BRS Kash',
 'Justin Bieber Featuring Chance The Rapper',
 'Saweetie Featuring Doja Cat',
 'Taylor Swift',
 'Justin Bieber & benny blanco',
 'AJR',
 'Coi Leray Featuring Lil Durk',
 'Justin Bieber',
 'Internet Money & Gunna Featuring Don Toliver & NAV',
 'Parmalee x Blanco Brown',
 'Ritt Momney',
 'Luke Bryan',
 'The Kid LAROI',
 'Drake Featuring Lil Durk',
 'Chris Stapleton',
 'Megan Thee Stallion',
 'Megan Thee Stallion Featuring DaBaby',
 'Moneybagg Yo',
 'Thomas Rhett',
 'H.E.R.',
 'Darius Rucker',
 'SpotemGottem',
 'Gabby Barrett',
 'Dua Lipa',
 'BTS',
 'Erica Banks',
 'Morgan Wallen',
 'NF',
 'Kali Uchis',
 'All Time Low Featuring Demi Lovato & blackbear',
 'Travis Scott & HVME',
 'Harry Styles',
 'Bad Bunny & ROSALIA',
 'Ava Max',
 'Florida Georgia Line',
 'Ariana Grande',
 'Masked Wolf',
 'Giveon',
 'Morgan Wallen',
 'Glass Animals',
 'Brett Young',
 'Lil Yachty Featuring Kodak Black',
 'Luke Combs',
 'Kelsea Ballerini',
 'Jack Harlow',
 'Black Eyed Peas X Shakira',
 'Lil Durk Featuring Lil Baby',
 'Eric Church',
 'Jason Derulo Featuring Adam Levine',
 'Dustin Lynch',
 'DaBaby',
 'Tenille Arts',
 'YBN Nahmir Featuring 21 Savage',
 'Pooh Shiesty Featuring BIG30',
 'Morgan Wallen',
 'VEDO',
 'Myke Towers & Juhn',
 'DDG',
 'Future & Lil Uzi Vert',
 'Keith Urban Duet With P!nk',
 'Lil Durk & King Von',
 'Morray',
 'Clinton Kane',
 'Jazmine Sullivan',
 '6ix9ine',
 'Jordan Davis',
 'Jake Owen',
 'Dan + Shay',
 'Ed Sheeran',
 'Morgan Wallen',
 'Tiesto',
 'Pop Smoke Featuring A Boogie Wit da Hoodie',
 'Shawn Mendes & Justin Bieber',
 'Mooski']

In [76]:
Title_tag=driver.find_elements_by_xpath("/html/body/main/div/div/div[7]/div/ol/li/button/div/div[2]")
for i in Title_tag:
    Last_wee_rank.append(i.text)
Last_wee_rank[0:99]

['1',
 '5',
 '8',
 '2',
 '1',
 '6',
 '1',
 '3',
 '1',
 '5',
 '12',
 '13',
 '16',
 '15',
 '6',
 '21',
 '9',
 '3',
 '24',
 '15',
 '23',
 '27',
 '32',
 '29',
 '35',
 '30',
 '3',
 '38',
 '1',
 '12',
 '8',
 '70',
 '6',
 '6',
 '40',
 '39',
 '46',
 '43',
 '2',
 '25',
 '12',
 '28',
 '50',
 '56',
 '44',
 '42',
 '54',
 '55',
 '49',
 '1',
 '47',
 '53',
 '-',
 '-',
 '59',
 '60',
 '58',
 '69',
 '61',
 '48',
 '-',
 '68',
 '74',
 '32',
 '64',
 '63',
 '-',
 '66',
 '39',
 '34',
 '67',
 '79',
 '73',
 '76',
 '72',
 '80',
 '78',
 '99',
 '51',
 '25',
 '85',
 '82',
 '81',
 '90',
 '86',
 '87',
 '94',
 '-',
 '88',
 '-',
 '96',
 '-',
 '93',
 '29',
 '52',
 '-',
 '-',
 '8',
 '-']

In [77]:
Title_tag=driver.find_elements_by_xpath("/html/body/main/div/div/div[7]/div/ol/li/button/div/div[3]")
for i in Title_tag:
    Peak_rank.append(i.text)
Peak_rank[0:99]

['1',
 '2',
 '3',
 '17',
 '64',
 '4',
 '29',
 '2',
 '18',
 '21',
 '10',
 '2',
 '13',
 '10',
 '34',
 '5',
 '9',
 '61',
 '19',
 '21',
 '21',
 '18',
 '23',
 '24',
 '25',
 '24',
 '23',
 '28',
 '11',
 '19',
 '34',
 '32',
 '8',
 '28',
 '35',
 '36',
 '37',
 '38',
 '28',
 '26',
 '14',
 '12',
 '37',
 '44',
 '44',
 '11',
 '47',
 '48',
 '49',
 '27',
 '7',
 '9',
 '53',
 '54',
 '55',
 '56',
 '57',
 '53',
 '59',
 '8',
 '61',
 '62',
 '63',
 '7',
 '64',
 '63',
 '67',
 '2',
 '19',
 '18',
 '67',
 '39',
 '73',
 '74',
 '72',
 '55',
 '77',
 '78',
 '3',
 '11',
 '81',
 '82',
 '9',
 '31',
 '62',
 '53',
 '87',
 '88',
 '88',
 '90',
 '91',
 '92',
 '63',
 '10',
 '8',
 '96',
 '97',
 '14',
 '99']

In [78]:
Title_tag=driver.find_elements_by_xpath("/html/body/main/div/div/div[7]/div/ol/li/button/div/div[4]")
for i in Title_tag:
    Weeks_on_board.append(i.text)
Weeks_on_board[0:99]

['7',
 '3',
 '42',
 '11',
 '25',
 '16',
 '8',
 '16',
 '17',
 '12',
 '27',
 '7',
 '12',
 '28',
 '21',
 '19',
 '7',
 '3',
 '9',
 '19',
 '9',
 '12',
 '3',
 '10',
 '11',
 '6',
 '9',
 '2',
 '7',
 '1',
 '1',
 '9',
 '6',
 '18',
 '5',
 '3',
 '1',
 '2',
 '2',
 '6',
 '7',
 '1',
 '18',
 '7',
 '4',
 '7',
 '3',
 '7',
 '5',
 '6',
 '3',
 '9',
 '3',
 '6',
 '11',
 '9',
 '3',
 '1',
 '5',
 '1',
 '5',
 '1',
 '3',
 '1',
 '1',
 '1',
 '7',
 '3',
 '42',
 '11',
 '25',
 '16',
 '8',
 '16',
 '17',
 '12',
 '27',
 '7',
 '12',
 '28',
 '21',
 '19',
 '7',
 '3',
 '9',
 '19',
 '9',
 '12',
 '3',
 '10',
 '11',
 '6',
 '9',
 '2',
 '7',
 '1',
 '1',
 '9',
 '6']

In [79]:
import pandas as pd
songs=pd.DataFrame()
songs['Song_name']=Song_name[0:99]
songs['Artist_name']=Artist_name[0:99]
songs['Last_wee_rank']=Last_wee_rank[0:99]
songs['Peak_rank']=Peak_rank[0:99]
songs['Weeks_on_board']=Weeks_on_board[0:99]

In [80]:
songs

,Song_name,Artist_name,Last_wee_rank,Peak_rank,Weeks_on_board
0,Drivers License,Olivia Rodrigo,1,1,7
1,Up,Cardi B,5,2,3
2,Go Crazy,Chris Brown & Young Thug,8,3,42
3,34+35,Ariana Grande,2,17,11
4,Blinding Lights,The Weeknd,1,64,25
...,...,...,...,...,...
94,Cover Me Up,Morgan Wallen,52,8,7
95,The Business,Tiesto,-,96,1
96,Hello,Pop Smoke Featuring A Boogie Wit da Hoodie,-,97,1
97,Monster,Shawn Mendes & Justin Bieber,8,14,9
98,Track Star,Mooski,-,99,6

In [90]:
#Question 7

In [32]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time

In [33]:
driver=webdriver.Chrome("Desktop/chromedriver.exe")

In [34]:
driver.get("https://www.naukri.com/")

In [35]:
search_btn=driver.find_element_by_xpath("/html/body/div[1]/div[1]/div/ul[1]/li[2]/a/div")
search_btn.click()

In [36]:
url="https://www.naukri.com/hr-recruiters-consultants"

In [37]:
driver.get(url)

In [38]:
search_btn=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input")
search_btn.send_keys("Data science")

In [39]:
search_btn=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button")
search_btn.click()

In [41]:
Name=[]
Designation=[]
Company=[]
Skills_they_hire_for=[]
Location=[]

In [53]:
Title_tag=driver.find_elements_by_xpath("/html/body/div[3]/div/div[2]/div/div[2]/div[1]/div/div[1]/div[1]/p/a[1]/span")
for i in Title_tag:
    Name.append(i.text)
Name[0:2]

['Aakash Harit', 'shravan Kumar Gaddam']

In [54]:
Title_tag=driver.find_elements_by_xpath("/html/body/div[3]/div/div[2]/div/div[2]/div[1]/div/div[1]/div[1]/p/span")
for i in Title_tag:
    Designation.append(i.text)
Designation[0:2]

['HR Manager', 'Company Recruiter']

In [55]:
Title_tag=driver.find_elements_by_xpath("/html/body/div[3]/div/div[2]/div/div[2]/div[1]/div/div[1]/div[1]/p/a")
for i in Title_tag:
    Company.append(i.text)
Company[0:2]

['Data Science Network', 'Shore Infotech India Pvt. Ltd']

In [56]:
Title_tag=driver.find_elements_by_xpath("/html/body/div[3]/div/div[2]/div/div[2]/div[1]/div/div[1]/div")
for i in Title_tag:
    Skills_they_hire_for.append(i.text)
Skills_they_hire_for[0:2]

['Classic ASP Developer, Internet Marketing Professional, Data Science SME, Content Writers, SEO Professional, Revenue Professional',
 '.Net, Java, Data Science, Linux Administration, Sql Server Development, Winforms, Wcf Services, Wpf, Telecom Engineering, Technical Management, Software']

In [57]:
Title_tag=driver.find_elements_by_xpath("/html/body/div[3]/div/div[2]/div/div[2]/div[1]/div/div[1]/div[1]/p/span/small")
for i in Title_tag:
    Location.append(i.text)
Location[0:2]

['Delhi', 'Hyderabad / Secunderabad']

In [59]:
import pandas as pd
Data_science=pd.DataFrame()
Data_science['Name']=Name[0:2]
Data_science['Designation']=Designation[0:2]
Data_science['Company']=Company[0:2]
Data_science['Skills_they_hire_for']=Skills_they_hire_for[0:2]
Data_science['Location']=Location[0:2]

In [60]:
Data_science

,Name,Designation,Company,Skills_they_hire_for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad

In [1]:
#Question 8

In [62]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time

In [63]:
driver=webdriver.Chrome("Desktop/chromedriver.exe")

In [64]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [65]:
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

In [66]:
Title_tag=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[2]")
for i in Title_tag:
    Book_name.append(i.text)
Book_name[0:5]

['Da Vinci Code,The',
 'Harry Potter and the Deathly Hallows',
 "Harry Potter and the Philosopher's Stone",
 'Harry Potter and the Order of the Phoenix',
 'Fifty Shades of Grey']

In [67]:
Title_tag=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]")
for i in Title_tag:
    Author_name.append(i.text)
Author_name[0:5]

['Brown, Dan',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'James, E. L.']

In [68]:
Title_tag=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[4]")
for i in Title_tag:
    Volumes_sold.append(i.text)
Volumes_sold[0:5]

['5,094,805', '4,475,152', '4,200,654', '4,179,479', '3,758,936']

In [69]:
Title_tag=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[5]")
for i in Title_tag:
    Publisher.append(i.text)
Publisher[0:5]

['Transworld', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Random House']

In [70]:
Title_tag=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[6]")
for i in Title_tag:
    Genre.append(i.text)
Genre[0:5]

['Crime, Thriller & Adventure',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Romance & Sagas']

In [72]:
import pandas as pd
books=pd.DataFrame()
books['Book_name']=Book_name[0:99]
books['Author_name']=Author_name[0:99]
books['Volumes_sold']=Volumes_sold[0:99]
books['Publisher']=Publisher[0:99]
books['Genre']=Genre[0:99]

In [73]:
books

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
94,Nights of Rain and Stars,"Binchy, Maeve","808,900",Orion,General & Literary Fiction
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General

In [17]:
#Question 9

In [49]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time

In [50]:
driver=webdriver.Chrome("Desktop/chromedriver.exe")

In [51]:
driver.get("https://www.imdb.com/list/ls095964455/")

In [52]:
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

In [53]:
Title_tag=driver.find_elements_by_xpath("/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/h3/a")
for i in Title_tag:
    Name.append(i.text)
Name[0:5]

['Game of Thrones',
 'Stranger Things',
 'The Walking Dead',
 '13 Reasons Why',
 'The 100']

In [54]:
Title_tag=driver.find_elements_by_xpath("/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/h3/span[2]")
for i in Title_tag:
    Year_span.append(i.text)
Year_span[0:5]

['(2011–2019)', '(2016– )', '(2010– )', '(2017–2020)', '(2014–2020)']

In [55]:
Title_tag=driver.find_elements_by_xpath("/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/p[1]/span[5]")
for i in Title_tag:
    Genre.append(i.text)
Genre[0:5]

['Action, Adventure, Drama',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Thriller',
 'Drama, Mystery, Thriller',
 'Drama, Mystery, Sci-Fi']

In [56]:
Title_tag=driver.find_elements_by_xpath("/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/p[1]/span[3]")
for i in Title_tag:
    Run_time.append(i.text)
Run_time[0:5]

['57 min', '51 min', '44 min', '60 min', '43 min']

In [57]:
Title_tag=driver.find_elements_by_xpath("/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/div[1]/div[1]/span[2]")
for i in Title_tag:
    Ratings.append(i.text)
Ratings[0:5]

['9.3', '8.7', '8.2', '7.6', '7.6']

In [59]:
Title_tag=driver.find_elements_by_xpath("/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/p[4]/span[2]")
for i in Title_tag:
    Votes.append(i.text)
Votes[0:5]

['1,778,177', '828,817', '856,753', '257,205', '217,733']

In [60]:
import pandas as pd
series=pd.DataFrame()
series['Name']=Name[0:99]
series['Year_span']=Year_span[0:99]
series['Genre']=Genre[0:99]
series['Run_time']=Run_time[0:99]
series['Ratings']=Ratings[0:99]
series['Votes']=Votes[0:99]

In [61]:
series

,Name,Year_span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,778,177"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"828,817"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2,"856,753"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"257,205"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"217,733"
...,...,...,...,...,...,...
94,iZombie,(2015–2019),"Comedy, Crime, Drama",42 min,7.8,"60,639"
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"43,765"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"54,087"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"162,232"
98,Scream: The TV Series,(2015–2019),"Crime, Drama, Horror",45 min,7.2,"34,200"

In [74]:
#Question 10

In [75]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time

In [76]:
driver=webdriver.Chrome("Desktop/chromedriver.exe")

In [77]:
driver.get("https://archive.ics.uci.edu/")

In [78]:
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

In [79]:
Title_tag=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
for i in Title_tag:
    Dataset_name.append(i.text)
Dataset_name[0:5]

['Abalone', 'Adult', 'Annealing', 'Anonymous Microsoft Web Data', 'Arrhythmia']

In [82]:
Title_tag=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p")
for i in Title_tag:
    Data_type.append(i.text)
Data_type[0:5]

['Data Types', 'Multivariate ', 'Multivariate ', 'Multivariate ', ' ']

In [83]:
Title_tag=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p")
for i in Title_tag:
    Task.append(i.text)
Task[0:5]

['Default Task',
 'Classification ',
 'Classification ',
 'Classification ',
 'Recommender-Systems ']

In [84]:
Title_tag=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p")
for i in Title_tag:
    Attribute_type.append(i.text)
Attribute_type[0:5]

['Attribute Types',
 'Categorical, Integer, Real ',
 'Categorical, Integer ',
 'Categorical, Integer, Real ',
 'Categorical ']

In [85]:
Title_tag=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p")
for i in Title_tag:
    No_of_instances.append(i.text)
No_of_instances[0:5]

['# Instances', '4177 ', '48842 ', '798 ', '37711 ']

In [86]:
Title_tag=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p")
for i in Title_tag:
    No_of_attribute.append(i.text)
No_of_attribute[0:5]

['# Attributes', '8 ', '14 ', '38 ', '294 ']

In [87]:
Title_tag=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p")
for i in Title_tag:
    Year.append(i.text)
Year[0:5]

['Year', '1995 ', '1996 ', ' ', '1998 ']

In [88]:
import pandas as pd
Dataset=pd.DataFrame()
Dataset['Dataset_name']=Dataset_name[0:99]
Dataset['Data_type']=Data_type[0:99]
Dataset['Task']=Task[0:99]
Dataset['Attribute_type']=Attribute_type[0:99]
Dataset['No_of_instances']=No_of_instances[0:99]
Dataset['No_of_attribute']=No_of_attribute[0:99]
Dataset['Year']=Year[0:99]

In [89]:
Dataset

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,Year
0,Abalone,Data Types,Default Task,Attribute Types,# Instances,# Attributes,Year
1,Adult,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Annealing,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Anonymous Microsoft Web Data,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,Arrhythmia,,Recommender-Systems,Categorical,37711,294,1998
...,...,...,...,...,...,...,...
94,Sponge,Multivariate,Classification,Integer,267,44,2001
95,Statlog Project,Multivariate,Clustering,"Categorical, Integer",76,45,
96,Student Loan Relational,,,,,,1992
97,Teaching Assistant Evaluation,Domain-Theory,,,1000,,1993
98,Tic-Tac-Toe Endgame,Multivariate,Classification,"Categorical, Integer",151,5,1997